body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}


.navbar-toggler {
    background-color: #ffeae0;
}

@media screen and (max-width: 500px) {
    header ul {
        margin-top: 20px;
    }
}

/* ----------------- Sobre o Restaurante ----------------- */
#sobre-o-restaurante,
#cardapio {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}


#sobre-o-restaurante img {
    width: 100%;

}

.text-colored{
    color: #e15f41;
}

/* cardapio */

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

/* fale conosco */

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

